@use '../abstracts/' as *;
@import '../../views/components/Header/Header';
@import '../../views/components/LinkShortener/LinkShortener';
@import '../../views/components/Statistics/Statistics';
@import '../../views/components/Boost/Boost';
@import '../../views/components/Footer/Footer';

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   outline: none;
   font-size: 18px;
   font-weight: 500;
   text-decoration: none;
   list-style: none;
}

body {
   font-family: 'Poppins', sans-serif;
}

.lower__half {
   margin-top: 100px;
   background: linear-gradient(
      180deg,
      white 68.909218390123890123812093812093812098312px,
      rgba(128, 128, 128, 0.202) 0
   );
   @media screen and (max-width: 500px) {
      background: linear-gradient(
         180deg,
         white 99.9999999999999999999999999999999999px,
         rgba(128, 128, 128, 0.202) 0
      );
   }
}

.app__container {
   max-width: 1400px;
   margin: auto;
   &__img__offset {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 30px;
      .app__container__left {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         width: 55%;
         h1 {
            font-size: 4.9rem;
            font-weight: 600;
            color: $neutral-very-dark-blue;
         }
         h2 {
            color: $neutral-grayish-violet;
            font-size: 1.2rem;
            line-height: 2rem;
         }
         .btn {
            margin-top: 20px;
            padding: 15px 35px;
         }
      }
      .app__container__right {
         width: 45%;
         overflow: hidden;
      }
   }
}

.btn {
   padding: 10px 20px;
   border-radius: 20px;
   font-size: 16px;
   background-color: $primary-cian;
   color: white;
   font-weight: 600;
}

.btn:hover {
   background-color: $primary-cian;
   opacity: 0.7;
   cursor: pointer;
}

@media screen and (max-width: 1460px) {
   .app__container {
      max-width: calc(90%);
   }
}

@media screen and (max-width: 1110px) {
   .app__container {
      &__img__offset {
         gap: 50px 0;
         flex-direction: column;
         justify-content: center;
         .app__container__left {
            width: unset;
            align-items: center;
            max-width: calc(90%);
            h1 {
               font-size: 3rem;
            }
            h1,
            h2 {
               text-align: center;
            }
         }
         .app__container__right {
            order: -1;
            width: 100%;
            img {
               width: 100%;
            }
         }
      }
   }
}
