.app__header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.app__header__content {
  display: flex;
  align-items: center;
  height: 100%;
}
.app__header__list {
  display: flex;
  gap: 0 15px;
  align-items: center;
}
.app__header__list__item__link {
  font-size: 16px;
  font-weight: 600;
  color: #bfbfbf;
  padding: 10px;
}
.app__header__list__item__link:hover {
  color: black;
}
.app__header__logo {
  margin-right: 30px;
}
.app__header__burger {
  position: relative;
}
.app__header__burger__icon {
  cursor: pointer;
  display: flex;
  gap: 5px 0;
  flex-direction: column;
}
.app__header__burger__icon div {
  width: 30px;
  height: 3px;
  background-color: #bfbfbf;
}
.app__header__burger__menu {
  content: "";
  position: absolute;
  display: none;
  right: 0;
  top: 30px;
  width: 260px;
  z-index: 10;
  border-radius: 10px;
  background-color: #3b3054;
  padding: 30px 0;
}
.app__header__burger__menu .app__header__burger__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0px;
}
.app__header__burger__menu .app__header__burger__list__item__link {
  color: white;
  font-weight: 600;
  font-size: 16px;
}
.app__header__burger__menu .app__header__burger__list__item__link:hover {
  opacity: 0.7;
}
.app__header__burger__divisor {
  width: 90%;
  height: 1px;
  background-color: #bfbfbf;
  opacity: 0.3;
  margin: 25px;
  margin-left: auto;
  margin-right: auto;
}
.app__header__burger .btn {
  width: 90%;
  margin-top: 15px;
}
.app__header__burger .open {
  display: block;
}

.shortener__container {
  width: 100%;
}
.shortener__container .shortener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  padding: 40px 30px;
  gap: 0 20px;
  background-color: #3b3054;
  background-image: url("./../../assets/imgs/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.shortener__container .shortener .btn {
  border-radius: 5px;
}
.shortener__container .shortener__input {
  position: relative;
  width: 80%;
}
.shortener__container .shortener__input input {
  color: #2a2a2a;
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
}
.shortener__container .shortener .text--error input {
  border: 2px solid #f46262;
}
.shortener__container .shortener .text--error input::placeholder {
  color: #f46262;
  opacity: 0.5;
}
.shortener__container .shortener .text--error::before {
  position: absolute;
  content: "Please add a link";
  left: 0;
  bottom: -25px;
  color: #f46262;
  font-size: 14px;
}
@media screen and (max-width: 500px) {
  .shortener__container .shortener {
    flex-direction: column;
    gap: 40px 0;
  }
  .shortener__container .shortener__input,
.shortener__container .shortener .btn {
    width: 100%;
  }
}
.shortener__container .shortener__content {
  width: 100%;
  background-color: white;
  margin-top: 30px;
  padding: 20px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 20px;
}
.shortener__container .shortener__content__title {
  max-width: 60%;
  word-break: break-word;
  font-weight: 700;
  opacity: 0.9;
  color: #35323e;
}
.shortener__container .shortener__content__copy__container {
  display: flex;
  align-items: center;
  gap: 0 40px;
}
.shortener__container .shortener__content__copy__container p {
  color: #2acfcf;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .shortener__container .shortener__content {
    flex-direction: column;
    gap: 20px 0;
    padding: 20px 0;
  }
  .shortener__container .shortener__content__copy__container {
    width: 100%;
    border-top: 1px solid #35323e;
    padding-top: 20px;
    flex-direction: column;
    gap: 20px 0;
  }
  .shortener__container .shortener__content__btn {
    width: 90%;
  }
}

.statistics__container {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px 0;
}
.statistics__container__info {
  max-width: 500px;
  text-align: center;
}
.statistics__container__info h1 {
  color: #35323e;
  font-size: 1.8rem;
  font-weight: 900;
}
.statistics__container__info p {
  color: #9e9aa7;
  line-height: 1.5rem;
  margin-top: 20px;
}
.statistics__container__cards {
  display: flex;
  width: 100%;
  gap: 0 20px;
  justify-content: center;
  height: 435px;
}
.statistics__container__cards .card {
  min-height: 300px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.621);
  border-radius: 10px;
  padding: 80px 40px 40px 40px;
}
.statistics__container__cards .card__icon {
  position: absolute;
  content: "";
  left: 30px;
  top: -40px;
  background-color: #3b3054;
  padding: 20px;
  border-radius: 100%;
}
.statistics__container__cards .card__title {
  font-size: 1.6rem;
  color: #35323e;
  font-weight: 700;
}
.statistics__container__cards .card__info {
  color: #9e9aa7;
  line-height: 1.5rem;
  margin-top: 20px;
}
.statistics__container__cards .card:first-child {
  align-self: flex-start;
}
.statistics__container__cards .card:nth-child(2) {
  align-self: center;
  position: relative;
}
.statistics__container__cards .card:nth-child(2)::before, .statistics__container__cards .card:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 40%;
  width: 20px;
  height: 10px;
  background-color: #2acfcf;
}
.statistics__container__cards .card:nth-child(2)::before {
  left: -20px;
  top: 40%;
}
.statistics__container__cards .card:nth-child(2)::after {
  right: -20px;
  top: 40%;
}
.statistics__container__cards .card:last-child {
  align-self: flex-end;
}
@media screen and (max-width: 850px) {
  .statistics__container__cards {
    flex-direction: column;
    height: unset;
    align-items: center;
    margin-top: 50px;
    gap: 100px 0;
  }
  .statistics__container__cards .card {
    max-width: 400px;
  }
  .statistics__container__cards .card:first-child, .statistics__container__cards .card:last-child, .statistics__container__cards .card:nth-child(2) {
    align-self: unset;
  }
  .statistics__container__cards .card:nth-child(2)::before, .statistics__container__cards .card:nth-child(2)::after {
    width: 10px;
    height: 100px;
  }
  .statistics__container__cards .card:nth-child(2)::before {
    top: -100px;
    left: 50%;
  }
  .statistics__container__cards .card:nth-child(2)::after {
    top: unset;
    bottom: -100px;
    left: 50%;
  }
}

.boost__section {
  height: 200px;
  background-color: #3b3054;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/imgs/bg-boost-desktop.svg");
  display: grid;
  place-items: center;
}
.boost__section__container {
  display: grid;
  place-items: center;
  gap: 20px 0;
  max-width: 350px;
}
.boost__section__container h2 {
  color: white;
  font-size: 1.8rem;
  font-weight: bold;
}
@media screen and (max-width: 380px) {
  .boost__section__container h2 {
    text-align: center;
  }
}
.boost__section__container .btn {
  padding: 15px 40px;
  border-radius: 40px;
}

#footer {
  background: #232127;
  padding: 2.5rem 0;
}
#footer .container {
  max-width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1150px) {
  #footer .container {
    max-width: 80%;
  }
}
@media screen and (max-width: 930px) {
  #footer .container {
    max-width: 90%;
  }
}
@media screen and (max-width: 820px) {
  #footer .container {
    max-width: 95%;
  }
}
@media screen and (max-width: 790px) {
  #footer .container {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    gap: 30px 0;
  }
  #footer .container div:nth-child(2) {
    flex-direction: column;
  }
  #footer .container .footer__lists {
    gap: 50px 0px;
    text-align: center;
  }
  #footer .container .footer__socials {
    align-items: center;
  }
}
#footer .footer__logo svg {
  fill: white;
}
#footer .footer__lists {
  display: flex;
  gap: 0 50px;
}
#footer .footer__lists .diff {
  color: white;
  font-weight: bold;
  margin-bottom: 40px;
}
#footer .footer__lists li:not(:first-child) {
  margin-top: 10px;
}
#footer .footer__lists a {
  color: rgba(255, 255, 255, 0.799);
  font-size: 14px;
}
#footer .footer__lists a:hover {
  color: #2acfcf;
}
#footer .footer__socials {
  height: 33px;
  display: flex;
  gap: 0 30px;
}
#footer .footer__socials img:hover {
  filter: invert(0) sepia(90%) saturate(1000%) hue-rotate(125deg) brightness(84%) contrast(91%);
  cursor: pointer;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.lower__half {
  margin-top: 100px;
  background: linear-gradient(180deg, white 68.9092183901px, rgba(128, 128, 128, 0.202) 0);
}
@media screen and (max-width: 500px) {
  .lower__half {
    background: linear-gradient(180deg, white 100px, rgba(128, 128, 128, 0.202) 0);
  }
}

.app__container {
  max-width: 1400px;
  margin: auto;
}
.app__container__img__offset {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
}
.app__container__img__offset .app__container__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}
.app__container__img__offset .app__container__left h1 {
  font-size: 4.9rem;
  font-weight: 600;
  color: #35323e;
}
.app__container__img__offset .app__container__left h2 {
  color: #9e9aa7;
  font-size: 1.2rem;
  line-height: 2rem;
}
.app__container__img__offset .app__container__left .btn {
  margin-top: 20px;
  padding: 15px 35px;
}
.app__container__img__offset .app__container__right {
  width: 45%;
  overflow: hidden;
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #2acfcf;
  color: white;
  font-weight: 600;
}

.btn:hover {
  background-color: #2acfcf;
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 1460px) {
  .app__container {
    max-width: 90%;
  }
}
@media screen and (max-width: 1110px) {
  .app__container__img__offset {
    gap: 50px 0;
    flex-direction: column;
    justify-content: center;
  }
  .app__container__img__offset .app__container__left {
    width: unset;
    align-items: center;
    max-width: 90%;
  }
  .app__container__img__offset .app__container__left h1 {
    font-size: 3rem;
  }
  .app__container__img__offset .app__container__left h1,
.app__container__img__offset .app__container__left h2 {
    text-align: center;
  }
  .app__container__img__offset .app__container__right {
    order: -1;
    width: 100%;
  }
  .app__container__img__offset .app__container__right img {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
